html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 75%;
    font-family: "Arial Black", serif;
    background-color: #efefef;
}

.header {
    margin: 30px 0;
}

.section {
    margin: 30px 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.todo-list__title {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.todo-list__form {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.todo-list__form input {
    border: 1px solid #333333;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    margin-right: 3px;
}

.todo-list__add {
    padding: 5px 10px;
    background: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    width: 75px;
    transition: all .1s ease-in;
}

.todo-list__add:hover,
.todo-list__add:focus {
    opacity: 0.7;
}

.todo-list__list {
    padding: 0 40px;
    list-style: none;
}

.todo-list__item {
    align-items: center;
    display: flex;
    cursor: pointer;
    font-size: 2rem;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #333333;
    padding: 5px 0;
    transition: 0.5s;
    word-break: break-word;
}

.todo-list__checkbox {
    cursor: pointer;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.todo-list__label {
    cursor: pointer;
    width: 100%;
}

.todo-list__item.is-checked {
    color: grey;
    border-color: grey;
}

.todo-list__item.is-checked .todo-list__label {
    text-decoration: line-through;
}

.todo-list__item.like .todo-list__like > i {
    color: coral;
    font-weight: bold;
}

.todo-list__item.is-checked .todo-list__like > i {
    color: grey;
    pointer-events: none;
}

.todo-list__like {
    width: 35px;
    height: 35px;
    text-align: center;
    border: none;
    flex-shrink: 0;
    margin-right: 7px;
    cursor: pointer;
}

.todo-list__like > i {
    font-size: 1.6rem;
    color: #333333;
    transition: 0.4s all;
}

.todo-list__like > i:hover,
.todo-list__like > i:focus {
    color: coral;
}

.todo-list__delete {
    border: 1px solid #333333;
    background: #333333;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2rem;
    height: 30px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    padding: 5px 10px;
    flex-shrink: 0;
}

.todo-list__delete i {
    font-size: 1.2rem;
    margin-right: 3px;
}

.todo-list__delete:disabled {
    color: grey;
    border-color: grey;
    pointer-events: none;
    opacity: 0.7;
}

.todo-list__delete:hover,
.todo-list__delete:focus {
    opacity: 0.7;
}

.todo-list__filter-wrap {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.todo-list__filter {
    background: #333333;
    border: 1px solid #333333;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 10px 5px;
    transition: all .1s ease-in;
}

.todo-list__filter:hover,
.todo-list__filter:focus {
    opacity: 0.7;
}

.todo-list__filter-label {
    font-size: 2rem;
    margin-right: 5px;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    width: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .todo-list__list {
        padding: 0;
    }

    .todo-list__title {
        text-align: center;
    }

    .todo-list__delete {
        font-size: 0;
    }

    .todo-list__like {
        width: 30px;
        height: 30px;
    }
}

